html,
body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family:sans-serif ;
    background: url("imag/background.jpg");

}
#container{
    height:95%;
    width: 90%;
    margin-top: 30px;
    margin-left: 5%;
    position: relative;
    /*border: 1px solid firebrick;*/
    overflow: hidden;
    background: linear-gradient(to top, #43e97b 0%, #38f9d7 100%);;
}
#score_help{
    text-align: center;
    font-size: 25px;
    background-color: #6c757d;

}
#branch{
    position: absolute;
    height: 2%;
    width: 100%;
    background-color: #533f03;
    top: 30%;
}
.hen{
    position: absolute;
    height: 25%;
    width: 11%;
    top: 10%;
    background: url("imag/hen.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
}
#hen1{
    left: 15%;
}
#hen2{
    left: 45%;
}
#hen3{
    left: 75%;
}
.egg{
    position: absolute;
    top: 20%;
    height: 5%;
    width: 2%;
    background-color: sandybrown;
    border-radius: 50%;
    z-index: 93;

}
#egg1{
    left: calc(15% + 8%/2 - 2%/2);

}
#egg2{
    left: calc(45% + 8%/2 - 2%/2);

}
#egg3{
    left: calc(75% + 8%/2 - 2%/2);

}
.bullseye{
    display: none;
    position: absolute;
    bottom: 0;
    height: 10%;
    width: 7%;
    background: url("imag/bullseye.png");
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 11;
}
#bullseye1{
    left: calc(15% + 8%/2 - 7%/2);
}
#bullseye2{
    left: calc(45% + 8%/2 - 7%/2);
}
#bullseye3{
    left: calc(75% + 8%/2 - 7%/2);
}

#floor{
    position: absolute;
    height: 7%;
    width: 100%;
    background-color: #1b1e21;
    bottom: 0;
    z-index: 10;
}

#basket{
    height: 100px;
    width: 160px;
    position: absolute;
    bottom: 5px;
    background: url("imag/basket.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    z-index: 11;
}
#score_1{
    position: absolute;
    color: darkblue;
    font-size: 35px;
    top: 45%;
    left: 35%;
}
#restart{
    border: 5px solid #d39e00;
    position: absolute;
    height: 10%;
    width: 100%;
    background-color: #6f42c1;
    color: greenyellow;
    top: 40%;
    font-size: 35px;
    display: none;
    cursor: pointer;
    z-index: 100;

}






